html
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif
  font-size: 12px
  word-spacing: 1px
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  box-sizing: border-box
  min-height: 100%
  overflow-x: hidden


.flex
  display: flex

.flex-1
  flex: 1

.clearfix
  clear: both

.clearfix::after
  content: ''
  clear: both
  display: block
  height: 0
  visibility: hidden


.img-full img
  width: 100%
  height: 100%

