html
  font-size: 100%

body
  font-size: 12px
  font-family: 'Source Sans Pro', 'Hiragino Sans GB', 'Microsoft Yahei', SimSun, Helvetica, Arial, Sans-serif, monospace
  word-spacing: 1px
  line-height: 1.4em
  color: #58666e
  background-color: transparent
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  box-sizing: border-box
  min-height: 100%
  overflow-x: hidden

h1, h2, h3, h4, h5, h6
  margin: 0

ul
  list-style: none
  margin: 0
  padding: 0

a
  text-decoration: none

pre
  font-family: 'Source Sans Pro', Menlo, Monaco, Consolas, Courier New, monospace !important
  font-size: 0.81rem !important

*::selection
  background-color: #384350
  color: white
