
$theme-color = #20bd76
$theme-light = #edf1f2

// 字体颜色
$text-dark = #57666e
$text-dark-light = #98a6ad
$text-active = #20bd76

// 字体大小
$text-x-large = 1.88rem /* 30/16 */

$text-large = 1.25rem /* 20/16 */

$text-medium = 1rem /* 16/16 */

$text-small = .88rem /* 14/16 */

$text-x-small = .75rem /* 12/16 */
