
$theme-color = #20bd76
$theme-light = #edf1f2

// 字体颜色
$text-dark = #57666e
$text-dark-light = #98a6ad
$text-active = #20bd76

// 字体大小
$text-x-large = 2rem

$text-large = 1.25rem

$text-medium = 1.125rem

$text-small = 0.875rem

$text-x-small = 0.75rem
